{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item', 'campo_multiple_enlace')}}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item', 'campo_multiple_enlace') }}>{{ item.content }}</div>
      {% endfor %}
      </div>
    {% else %}
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
    <defs>

    <g id="icon-descarga-txt">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />
     
      <path
        class="label-descargas"
        d="M 2.142857,32.142858 C 0.9642857,32.142858 0,33.107145 0,34.285716 l 0,21.42857 c 0,1.178573 0.9642857,2.142857 2.142857,2.142857 l 47.142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142857 l 0,-21.42857 c 0,-1.178571 -0.964283,-2.142858 -2.142856,-2.142858 l -47.142858,0 z m 20.780117,7.114696 c 0.309979,0 0.527014,0.170475 0.666505,0.433959 l 2.107805,3.797345 2.107805,-3.797345 c 0.154991,-0.263484 0.356462,-0.433959 0.681938,-0.433959 0.573462,0 1.286447,0.403142 1.286447,0.945605 0,0.139492 -0.04643,0.278971 -0.139424,0.433962 l -2.588326,4.355033 2.681188,4.370728 c 0.0775,0.139491 0.108553,0.263471 0.108553,0.371963 0,0.557968 -0.75935,1.007605 -1.317313,1.007605 -0.247984,0 -0.449522,-0.139679 -0.542515,-0.325665 l -2.278355,-3.983065 -2.262923,3.983065 c -0.108488,0.185986 -0.309965,0.325665 -0.557948,0.325665 -0.542465,0 -1.317313,-0.449637 -1.317313,-1.007605 0,-0.108488 0.0465,-0.232472 0.123988,-0.371963 l 2.681187,-4.370728 -2.588326,-4.355033 c -0.09299,-0.154991 -0.139422,-0.29447 -0.139422,-0.433962 0,-0.542463 0.712986,-0.945605 1.286447,-0.945605 z m -8.917238,0.0777 6.555962,0 c 0.433971,0 0.635376,0.464818 0.635376,0.898787 0,0.480469 -0.232402,0.914482 -0.635376,0.914482 l -2.262922,0 0,8.880876 c 0,0.418474 -0.511374,0.635377 -1.007342,0.635377 -0.511465,0 -1.007342,-0.216903 -1.007342,-0.635377 l 0,-8.880876 -2.278356,0 c -0.402971,0 -0.635635,-0.418513 -0.635635,-0.914482 0,-0.433969 0.201666,-0.898787 0.635635,-0.898787 z m 16.861137,0 6.555964,0 c 0.43397,0 0.635635,0.464818 0.635635,0.898787 0,0.480469 -0.232664,0.914482 -0.635635,0.914482 l -2.262662,0 0,8.880876 c 0,0.418474 -0.511635,0.635377 -1.007603,0.635377 -0.511468,0 -1.007339,-0.216903 -1.007339,-0.635377 l 0,-8.880876 -2.27836,0 c -0.40297,0 -0.635376,-0.418513 -0.635376,-0.914482 0,-0.433969 0.201406,-0.898787 0.635376,-0.898787 z" />
    </g>

    <g id="icon-descarga-pdf">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96400687 32.142578 8.8817842e-16 33.106585 0 34.285156 L 0 55.714844 C 0 56.893417 0.96400687 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463729 57.857422 51.427734 56.893417 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106585 50.463729 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 14.806641 39.339844 L 17.927734 39.339844 C 19.899198 39.339844 21.451172 40.288157 21.451172 42.833984 L 21.451172 42.925781 C 21.451172 45.471609 19.851815 46.451172 17.802734 46.451172 L 16.064453 46.451172 L 16.064453 50.050781 C 16.064453 50.469912 15.551433 50.6875 15.054688 50.6875 C 14.542417 50.6875 14.046875 50.469912 14.046875 50.050781 L 14.046875 39.960938 C 14.046875 39.634947 14.340941 39.339844 14.806641 39.339844 z M 23.572266 39.339844 L 26.320312 39.339844 C 28.369393 39.339844 29.96875 40.302133 29.96875 42.894531 L 29.96875 47.132812 C 29.96875 49.72521 28.369394 50.6875 26.320312 50.6875 L 23.572266 50.6875 C 23.044473 50.6875 22.6875 50.392396 22.6875 50.066406 L 22.6875 39.960938 C 22.6875 39.634946 23.044473 39.339844 23.572266 39.339844 z M 32.576172 39.339844 L 37.994141 39.339844 C 38.428794 39.339844 38.615234 39.789854 38.615234 40.208984 C 38.615234 40.690207 38.397748 41.109375 37.994141 41.109375 L 33.710938 41.109375 L 33.710938 44.214844 L 36.085938 44.214844 C 36.489544 44.214844 36.707031 44.602354 36.707031 45.021484 C 36.707031 45.378521 36.520592 45.798828 36.085938 45.798828 L 33.710938 45.798828 L 33.710938 50.050781 C 33.710938 50.469912 33.197919 50.6875 32.701172 50.6875 C 32.188902 50.6875 31.691406 50.469912 31.691406 50.050781 L 31.691406 39.976562 C 31.691406 39.557432 32.125995 39.339844 32.576172 39.339844 z M 16.064453 41.109375 L 16.064453 44.867188 L 17.802734 44.867188 C 18.811751 44.867187 19.433594 44.292851 19.433594 43.082031 L 19.433594 42.894531 C 19.433594 41.68371 18.811751 41.109375 17.802734 41.109375 L 16.064453 41.109375 z M 24.705078 41.109375 L 24.705078 48.917969 L 26.320312 48.917969 C 27.344853 48.917969 27.949219 48.343633 27.949219 47.132812 L 27.949219 42.894531 C 27.949219 41.68371 27.344853 41.109375 26.320312 41.109375 L 24.705078 41.109375 z " />
    </g>

    <g id="icon-descarga-torrent">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96400689 32.142578 2.9605947e-16 33.106585 0 34.285156 L 0 55.714844 C 0 56.893417 0.96400689 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463729 57.857422 51.427734 56.893417 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106585 50.463729 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 2.1894531 40.410156 L 7.4414062 40.410156 C 7.7890739 40.410156 7.9511719 40.781238 7.9511719 41.128906 C 7.9511719 41.513823 7.7642404 41.863281 7.4414062 41.863281 L 5.6289062 41.863281 L 5.6289062 48.976562 C 5.6289064 49.311813 5.2196 49.486328 4.8222656 49.486328 C 4.4125145 49.486328 4.0136719 49.311813 4.0136719 48.976562 L 4.0136719 41.863281 L 2.1894531 41.863281 C 1.8666189 41.863281 1.6796875 41.52624 1.6796875 41.128906 C 1.6796875 40.781238 1.8417855 40.410156 2.1894531 40.410156 z M 11.484375 40.410156 C 13.12338 40.410156 14.402344 41.180317 14.402344 43.253906 L 14.402344 46.716797 C 14.402344 48.790386 13.12338 49.560547 11.484375 49.560547 C 9.8453709 49.560547 8.578125 48.790386 8.578125 46.716797 L 8.578125 43.253906 C 8.578125 41.180317 9.8453709 40.410156 11.484375 40.410156 z M 16.304688 40.410156 L 18.763672 40.410156 C 20.39026 40.410156 21.707031 41.02965 21.707031 43.003906 C 21.707031 44.431826 21.011331 45.202696 20.080078 45.488281 L 21.707031 48.505859 C 21.756691 48.567942 21.769531 48.653455 21.769531 48.703125 C 21.769531 49.112876 21.235506 49.548828 20.763672 49.548828 C 20.540171 49.548828 20.329245 49.412396 20.205078 49.164062 L 18.441406 45.736328 L 17.398438 45.736328 L 17.398438 48.976562 C 17.398438 49.311813 17.001549 49.486328 16.591797 49.486328 C 16.194463 49.486328 15.783203 49.311813 15.783203 48.976562 L 15.783203 40.90625 C 15.783203 40.645499 15.994271 40.410156 16.304688 40.410156 z M 23.386719 40.410156 L 25.845703 40.410156 C 27.472291 40.410156 28.787109 41.02965 28.787109 43.003906 C 28.787109 44.431826 28.093362 45.202696 27.162109 45.488281 L 28.789062 48.505859 C 28.838722 48.567942 28.849609 48.653455 28.849609 48.703125 C 28.849609 49.112876 28.315584 49.548828 27.84375 49.548828 C 27.620249 49.548828 27.409323 49.412396 27.285156 49.164062 L 25.523438 45.736328 L 24.478516 45.736328 L 24.478516 48.976562 C 24.478516 49.311813 24.081627 49.486328 23.671875 49.486328 C 23.274541 49.486328 22.865234 49.311813 22.865234 48.976562 L 22.865234 40.90625 C 22.865234 40.645499 23.076302 40.410156 23.386719 40.410156 z M 30.654297 40.410156 L 35.074219 40.410156 C 35.421887 40.410156 35.583984 40.770218 35.583984 41.105469 C 35.583984 41.490387 35.397053 41.824219 35.074219 41.824219 L 31.560547 41.824219 L 31.560547 44.308594 L 33.447266 44.308594 C 33.770101 44.308594 33.957031 44.619828 33.957031 44.955078 C 33.957031 45.240663 33.794934 45.574219 33.447266 45.574219 L 31.560547 45.574219 L 31.560547 48.070312 L 35.074219 48.070312 C 35.397053 48.070312 35.583984 48.406098 35.583984 48.791016 C 35.583984 49.126267 35.421887 49.486328 35.074219 49.486328 L 30.654297 49.486328 C 30.294212 49.486328 29.947266 49.311813 29.947266 48.976562 L 29.947266 40.917969 C 29.947266 40.582718 30.294212 40.410156 30.654297 40.410156 z M 37.326172 40.410156 C 37.909757 40.410156 38.146332 40.53304 38.53125 41.265625 L 40.927734 45.898438 L 40.927734 40.90625 C 40.927734 40.558583 41.324624 40.410156 41.734375 40.410156 C 42.131709 40.410156 42.541016 40.558583 42.541016 40.90625 L 42.541016 48.976562 C 42.541016 49.311813 42.131709 49.486328 41.734375 49.486328 C 41.349457 49.486328 41.013818 49.36148 40.802734 48.976562 L 38.132812 43.986328 L 38.132812 48.976562 C 38.132812 49.311813 37.723506 49.486328 37.326172 49.486328 C 36.916421 49.486328 36.519531 49.311813 36.519531 48.976562 L 36.519531 40.917969 C 36.519531 40.570301 36.916421 40.410156 37.326172 40.410156 z M 43.949219 40.410156 L 49.201172 40.410156 C 49.54884 40.410156 49.710938 40.781238 49.710938 41.128906 C 49.710938 41.513823 49.524006 41.863281 49.201172 41.863281 L 47.388672 41.863281 L 47.388672 48.976562 C 47.388672 49.311813 46.979366 49.486328 46.582031 49.486328 C 46.17228 49.486328 45.775391 49.311813 45.775391 48.976562 L 45.775391 41.863281 L 43.949219 41.863281 C 43.626385 41.863281 43.441406 41.52624 43.441406 41.128906 C 43.441406 40.781238 43.601551 40.410156 43.949219 40.410156 z M 11.484375 41.824219 C 10.664873 41.824219 10.193359 42.272986 10.193359 43.253906 L 10.193359 46.716797 C 10.193359 47.697716 10.664873 48.144531 11.484375 48.144531 C 12.291461 48.144531 12.789062 47.697716 12.789062 46.716797 L 12.789062 43.253906 C 12.789064 42.272986 12.291461 41.824219 11.484375 41.824219 z M 17.398438 41.824219 L 17.398438 44.470703 L 18.763672 44.470703 C 19.570758 44.470703 20.091797 44.135216 20.091797 43.154297 C 20.091797 42.173378 19.570758 41.824219 18.763672 41.824219 L 17.398438 41.824219 z M 24.478516 41.824219 L 24.478516 44.470703 L 25.845703 44.470703 C 26.652788 44.470703 27.173828 44.135216 27.173828 43.154297 C 27.173828 42.173378 26.652788 41.824219 25.845703 41.824219 L 24.478516 41.824219 z " />
    </g>

    <g id="icon-descarga-mpeg">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1428329,32.142 C 0.96427676,32.142 0,33.106314 0,34.284926 L 0,55.714084 C 0,56.892686 0.96427676,57.857 2.1428329,57.857 l 47.1423341,0 c 1.178556,0 2.142833,-0.964314 2.142833,-2.142916 l 0,-21.429158 C 51.428,33.106314 50.463723,32.142 49.285167,32.142 l -47.1423341,0 z m 8.1572511,7.192588 c 0.728448,0 1.053823,0.154898 1.565284,1.069367 l 1.906368,3.471776 1.906366,-3.471776 c 0.511461,-0.914469 0.852527,-1.069367 1.580963,-1.069367 0.511461,0 1.00733,0.2634 1.00733,1.007369 l 0,9.687065 c 0,0.418484 -0.511363,0.6354 -1.00733,0.6354 -0.511451,0 -1.007593,-0.216916 -1.007593,-0.6354 l 0,-6.664694 -1.813247,3.223792 c -0.170484,0.309981 -0.433941,0.403096 -0.681925,0.403096 -0.247983,0 -0.496016,-0.09311 -0.6665,-0.403096 l -1.782375,-3.347789 0,6.788691 c 0,0.418484 -0.511374,0.6354 -1.007341,0.6354 -0.5114511,0 -1.0075839,-0.216916 -1.0075839,-0.6354 l 0,-9.687065 c 0,-0.743969 0.4961328,-1.007369 1.0075839,-1.007369 z m 10.589138,0 3.11511,0 c 1.968354,0 3.518211,0.945303 3.518211,3.487211 l 0,0.09311 c 0,2.541899 -1.596348,3.518338 -3.642193,3.518338 l -1.735825,0 0,3.595761 c 0,0.418483 -0.511363,0.635399 -1.007329,0.635399 -0.511461,0 -1.007594,-0.216916 -1.007594,-0.635399 l 0,-10.074481 c 0,-0.325486 0.294661,-0.619953 0.75962,-0.619953 z m 8.751038,0 5.517689,0 c 0.433971,0 0.635374,0.449453 0.635374,0.867947 0,0.480482 -0.232401,0.898808 -0.635374,0.898808 l -4.386114,0 0,3.100059 2.355765,0 c 0.402962,0 0.635364,0.387465 0.635364,0.805948 0,0.356485 -0.201404,0.774822 -0.635364,0.774822 l -2.355765,0 0,3.115495 4.386114,0 c 0.402973,0 0.635374,0.418326 0.635374,0.898808 0,0.418484 -0.201403,0.867947 -0.635374,0.867947 l -5.517689,0 c -0.449465,0 -0.883339,-0.216916 -0.883339,-0.6354 l 0,-10.059044 c 0,-0.418484 0.433874,-0.63539 0.883339,-0.63539 z m 10.639879,0 c 2.138836,0 3.704178,1.115881 3.704178,2.975809 0,0.774968 -0.341143,0.960806 -1.007584,0.960806 -0.542458,0 -0.991836,-0.154917 -1.00733,-0.635398 -0.0465,-0.728466 -0.294436,-1.534462 -1.611833,-1.534462 -1.038425,0 -1.627533,0.573498 -1.627533,1.782445 l 0,4.324285 c 0,1.208956 0.589175,1.782454 1.612097,1.782454 1.007418,0 1.627269,-0.573498 1.627269,-1.782454 l 0,-0.914499 -1.255304,0 c -0.402973,0 -0.619938,-0.387268 -0.619938,-0.790258 0,-0.387484 0.216965,-0.790512 0.619938,-0.790512 l 2.634589,0 c 0.402974,0 0.635629,0.309836 0.635629,0.650825 l 0,1.844444 c 0,2.588402 -1.596339,3.549473 -3.642183,3.549473 -2.045843,0 -3.626756,-0.961071 -3.626756,-3.549473 l 0,-4.324285 c 0,-2.588393 1.596417,-3.5492 3.564761,-3.5492 z m -18.135614,1.766755 0,3.750885 1.735825,0 c 1.007419,0 1.627524,-0.573499 1.627524,-1.782445 l 0,-0.185995 c 0,-1.208947 -0.620105,-1.782445 -1.627524,-1.782445 l -1.735825,0 z " />
    </g>


    <g id="icon-descarga-ogv">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96399813 32.142578 0 33.106596 0 34.285156 L 0 55.714844 C 0 56.893404 0.96399813 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463726 57.857422 51.427734 56.893404 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106596 50.463726 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 17.617188 39.333984 C 19.663051 39.333984 21.259766 40.296455 21.259766 42.884766 L 21.259766 47.208984 C 21.259766 49.797295 19.663051 50.757812 17.617188 50.757812 C 15.571324 50.757813 13.990234 49.797295 13.990234 47.208984 L 13.990234 42.884766 C 13.990234 40.296455 15.571324 39.333984 17.617188 39.333984 z M 26.423828 39.333984 C 28.562685 39.333984 30.128906 40.450683 30.128906 42.310547 C 30.128906 43.08549 29.787549 43.271484 29.121094 43.271484 C 28.57863 43.271484 28.12878 43.117184 28.113281 42.636719 C 28.066784 41.908272 27.819365 41.101562 26.501953 41.101562 C 25.463523 41.101562 24.875 41.675854 24.875 42.884766 L 24.875 47.208984 C 24.875 48.417896 25.463397 48.990234 26.486328 48.990234 C 27.493761 48.990234 28.113281 48.417896 28.113281 47.208984 L 28.113281 46.292969 L 26.859375 46.292969 C 26.456402 46.292969 26.238281 45.906877 26.238281 45.503906 C 26.238281 45.116435 26.456402 44.712891 26.859375 44.712891 L 29.494141 44.712891 C 29.897114 44.712891 30.128906 45.022306 30.128906 45.363281 L 30.128906 47.208984 C 30.128906 49.797295 28.532191 50.757812 26.486328 50.757812 C 24.440465 50.757813 22.859375 49.797295 22.859375 47.208984 L 22.859375 42.884766 C 22.859375 40.296455 24.45546 39.333984 26.423828 39.333984 z M 32.212891 39.333984 C 32.553868 39.333984 32.817036 39.443803 32.894531 39.738281 L 35.265625 48.138672 L 37.621094 39.738281 C 37.698589 39.443803 37.961757 39.333984 38.302734 39.333984 C 38.845198 39.333984 39.574219 39.69141 39.574219 40.171875 C 39.574219 40.218372 39.558468 40.264176 39.542969 40.326172 L 36.568359 50.076172 C 36.428869 50.541138 35.854586 50.757812 35.265625 50.757812 C 34.676664 50.757813 34.119833 50.541138 33.964844 50.076172 L 30.972656 40.326172 C 30.957157 40.264176 30.941406 40.202873 30.941406 40.171875 C 30.941406 39.675911 31.670427 39.333984 32.212891 39.333984 z M 17.617188 41.101562 C 16.594256 41.101562 16.005859 41.660355 16.005859 42.884766 L 16.005859 47.208984 C 16.005859 48.433395 16.594256 48.990234 17.617188 48.990234 C 18.62462 48.990234 19.244141 48.433395 19.244141 47.208984 L 19.244141 42.884766 C 19.244141 41.660355 18.62462 41.101562 17.617188 41.101562 z " />
    </g>

    <g id="icon-descarga-ogg">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96399813 32.142578 0 33.106596 0 34.285156 L 0 55.714844 C 0 56.893404 0.96399813 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463726 57.857422 51.427734 56.893404 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106596 50.463726 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 17.617188 39.333984 C 19.663051 39.333984 21.259766 40.296455 21.259766 42.884766 L 21.259766 47.208984 C 21.259766 49.797295 19.663051 50.757812 17.617188 50.757812 C 15.571324 50.757812 13.990234 49.797295 13.990234 47.208984 L 13.990234 42.884766 C 13.990234 40.296455 15.571324 39.333984 17.617188 39.333984 z M 26.423828 39.333984 C 28.562685 39.333984 30.128906 40.450683 30.128906 42.310547 C 30.128906 43.08549 29.787549 43.271484 29.121094 43.271484 C 28.57863 43.271484 28.12878 43.117184 28.113281 42.636719 C 28.066784 41.908272 27.819365 41.101562 26.501953 41.101562 C 25.463523 41.101562 24.875 41.675854 24.875 42.884766 L 24.875 47.208984 C 24.875 48.417896 25.463397 48.990234 26.486328 48.990234 C 27.493761 48.990234 28.113281 48.417896 28.113281 47.208984 L 28.113281 46.292969 L 26.859375 46.292969 C 26.456402 46.292969 26.238281 45.906877 26.238281 45.503906 C 26.238281 45.116435 26.456402 44.712891 26.859375 44.712891 L 29.494141 44.712891 C 29.897114 44.712891 30.128906 45.022306 30.128906 45.363281 L 30.128906 47.208984 C 30.128906 49.797295 28.532191 50.757812 26.486328 50.757812 C 24.440465 50.757812 22.859375 49.797295 22.859375 47.208984 L 22.859375 42.884766 C 22.859375 40.296455 24.45546 39.333984 26.423828 39.333984 z M 35.173828 39.333984 C 37.312685 39.333984 38.876953 40.450683 38.876953 42.310547 C 38.876953 43.08549 38.535596 43.271484 37.869141 43.271484 C 37.326677 43.271484 36.876827 43.117184 36.861328 42.636719 C 36.814831 41.908272 36.567412 41.101562 35.25 41.101562 C 34.211569 41.101562 33.623047 41.675854 33.623047 42.884766 L 33.623047 47.208984 C 33.623047 48.417896 34.211443 48.990234 35.234375 48.990234 C 36.241808 48.990234 36.861328 48.417896 36.861328 47.208984 L 36.861328 46.292969 L 35.607422 46.292969 C 35.204449 46.292969 34.986328 45.906877 34.986328 45.503906 C 34.986328 45.116435 35.204449 44.712891 35.607422 44.712891 L 38.242188 44.712891 C 38.645161 44.712891 38.876953 45.022306 38.876953 45.363281 L 38.876953 47.208984 C 38.876953 49.797295 37.280238 50.757812 35.234375 50.757812 C 33.188512 50.757812 31.607422 49.797295 31.607422 47.208984 L 31.607422 42.884766 C 31.607422 40.296455 33.20546 39.333984 35.173828 39.333984 z M 17.617188 41.101562 C 16.594256 41.101562 16.005859 41.660355 16.005859 42.884766 L 16.005859 47.208984 C 16.005859 48.433395 16.594256 48.990234 17.617188 48.990234 C 18.62462 48.990234 19.244141 48.433395 19.244141 47.208984 L 19.244141 42.884766 C 19.244141 41.660355 18.62462 41.101562 17.617188 41.101562 z " />
    </g>


    <g id="icon-descarga-flac">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96399813 32.142578 0 33.106596 0 34.285156 L 0 55.714844 C 0 56.893404 0.96399813 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463726 57.857422 51.427734 56.893404 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106596 50.463726 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 30.009766 39.242188 C 30.598726 39.242188 31.173009 39.458862 31.3125 39.923828 L 34.302734 49.671875 C 34.318233 49.73387 34.333984 49.781628 34.333984 49.828125 C 34.333984 50.30859 33.604964 50.664062 33.0625 50.664062 C 32.721523 50.664062 32.458354 50.556197 32.380859 50.261719 L 31.792969 48.201172 L 28.244141 48.201172 L 27.654297 50.261719 C 27.576802 50.556197 27.313633 50.664062 26.972656 50.664062 C 26.430193 50.664062 25.701172 50.324089 25.701172 49.828125 C 25.701172 49.797127 25.716923 49.73387 25.732422 49.671875 L 28.724609 39.923828 C 28.8641 39.458862 29.436304 39.242188 30.009766 39.242188 z M 11.998047 39.333984 L 17.40625 39.333984 C 17.840221 39.333984 18.027344 39.784656 18.027344 40.203125 C 18.027344 40.68359 17.809223 41.101562 17.40625 41.101562 L 13.128906 41.101562 L 13.128906 44.201172 L 15.5 44.201172 C 15.902973 44.201172 16.121094 44.589343 16.121094 45.007812 C 16.121094 45.364286 15.933971 45.783203 15.5 45.783203 L 13.128906 45.783203 L 13.128906 50.029297 C 13.128906 50.447766 12.617061 50.664062 12.121094 50.664062 C 11.609628 50.664062 11.113281 50.447766 11.113281 50.029297 L 11.113281 39.970703 C 11.113281 39.552234 11.548577 39.333984 11.998047 39.333984 z M 19.992188 39.333984 C 20.488154 39.333984 21 39.52111 21 39.955078 L 21 48.898438 L 24.78125 48.898438 C 25.184223 48.898437 25.384766 49.331783 25.384766 49.78125 C 25.384766 50.215218 25.184223 50.664062 24.78125 50.664062 L 19.867188 50.664062 C 19.417718 50.664062 18.984375 50.447766 18.984375 50.029297 L 18.984375 39.955078 C 18.984375 39.52111 19.480722 39.333984 19.992188 39.333984 z M 38.863281 39.333984 C 41.017637 39.333984 42.552734 40.481428 42.552734 42.279297 C 42.552734 43.085238 42.226876 43.271484 41.544922 43.271484 C 40.97146 43.271484 40.552608 43.101685 40.537109 42.636719 C 40.506111 42.156254 40.398183 41.101562 38.925781 41.101562 C 37.887351 41.101562 37.298828 41.675854 37.298828 42.884766 L 37.298828 47.208984 C 37.298828 48.417896 37.887603 48.990234 38.957031 48.990234 C 40.367437 48.990234 40.490612 47.982984 40.537109 47.332031 C 40.568107 46.851566 41.002332 46.697266 41.529297 46.697266 C 42.22675 46.697266 42.552734 46.899011 42.552734 47.689453 C 42.552734 49.564816 41.017511 50.757812 38.847656 50.757812 C 36.894787 50.757813 35.283203 49.797295 35.283203 47.208984 L 35.283203 42.884766 C 35.283203 40.296455 36.910412 39.333984 38.863281 39.333984 z M 30.009766 41.861328 L 28.662109 46.619141 L 31.359375 46.619141 L 30.009766 41.861328 z " />
    </g>

    <g id="icon-descarga-mp3">
      <path
        style="fill:#e2e5e7"
        d="M 12.857144,0 C 10.5,0 8.5714292,1.928572 8.5714292,4.285715 l 0,59.999999 c 0,2.357146 1.9285708,4.285715 4.2857148,4.285715 l 42.857142,0 C 58.071431,68.571429 60,66.64286 60,64.285714 L 60,17.142859 42.857145,0 12.857144,0 Z" />

      <path
        style="fill:#b0b7bd"
        d="M 47.142858,17.142859 60,17.142859 42.857145,0 l 0,12.857144 c 0,2.357142 1.928572,4.285715 4.285713,4.285715 z" />

      <path
        style="fill:#cad1d8"
        d="M 47.142858,17.142859 60,30.000001 l 0,-12.857142 -12.857142,0 z m 4.285713,38.571427 c 0,1.178573 -0.964283,2.142857 -2.142856,2.142857 l -40.7142858,0 0,2.142858 40.7142858,0 c 1.178573,0 2.142856,-0.964284 2.142856,-2.142858 l 0,-2.142857 z"  />

      <path
        class="label-descargas"
        d="M 2.1425781 32.142578 C 0.96399813 32.142578 0 33.106596 0 34.285156 L 0 55.714844 C 0 56.893404 0.96399813 57.857422 2.1425781 57.857422 L 49.285156 57.857422 C 50.463726 57.857422 51.427734 56.893404 51.427734 55.714844 L 51.427734 34.285156 C 51.427734 33.106596 50.463726 32.142578 49.285156 32.142578 L 2.1425781 32.142578 z M 15.121094 39.333984 C 15.849545 39.333984 16.176034 39.489864 16.6875 40.404297 L 18.59375 43.876953 L 20.5 40.404297 C 21.011466 39.489864 21.351627 39.333984 22.080078 39.333984 C 22.591544 39.333984 23.087891 39.597851 23.087891 40.341797 L 23.087891 50.029297 C 23.087891 50.447766 22.576045 50.664062 22.080078 50.664062 C 21.568612 50.664062 21.072266 50.447766 21.072266 50.029297 L 21.072266 43.365234 L 19.259766 46.587891 C 19.089277 46.897868 18.826108 46.992188 18.578125 46.992188 C 18.330142 46.992187 18.082598 46.897868 17.912109 46.587891 L 16.128906 43.240234 L 16.128906 50.029297 C 16.128906 50.447766 15.617061 50.664062 15.121094 50.664062 C 14.609628 50.664062 14.113281 50.447766 14.113281 50.029297 L 14.113281 40.341797 C 14.113281 39.597851 14.609628 39.333984 15.121094 39.333984 z M 25.710938 39.333984 L 28.826172 39.333984 C 30.79454 39.333984 32.34375 40.280451 32.34375 42.822266 L 32.34375 42.916016 C 32.34375 45.45783 30.747035 46.433594 28.701172 46.433594 L 26.966797 46.433594 L 26.966797 50.029297 C 26.966797 50.447766 26.454951 50.664062 25.958984 50.664062 C 25.447519 50.664062 24.951172 50.447766 24.951172 50.029297 L 24.951172 39.955078 C 24.951172 39.629602 25.245969 39.333984 25.710938 39.333984 z M 36.601562 39.333984 C 38.476937 39.333984 39.871094 40.048026 39.871094 42.109375 C 39.871094 43.333786 39.421559 44.325167 38.662109 44.681641 C 39.576548 45.038115 40.244141 45.735078 40.244141 47.021484 L 40.244141 47.316406 C 40.244141 49.811724 38.569301 50.757812 36.523438 50.757812 C 33.981607 50.757813 32.958984 49.192908 32.958984 47.9375 C 32.958984 47.317545 33.222469 47.146484 33.919922 47.146484 C 34.741367 47.146484 34.958984 47.363411 34.958984 47.859375 C 34.958984 48.556824 35.578379 48.990234 36.570312 48.990234 C 37.732735 48.990234 38.228516 48.49432 38.228516 47.316406 L 38.228516 47.021484 C 38.228516 45.874568 37.515371 45.550781 36.523438 45.550781 C 36.073968 45.550781 35.919922 45.162736 35.919922 44.759766 C 35.919922 44.372294 36.073968 43.96875 36.523438 43.96875 C 37.298386 43.96875 37.949219 43.782121 37.949219 42.449219 C 37.949219 41.426293 37.422882 41.085938 36.585938 41.085938 C 35.578505 41.085937 35.207031 41.505045 35.207031 42.125 C 35.207031 42.589966 34.990044 42.900391 34.246094 42.900391 C 33.347154 42.900391 33.207031 42.682202 33.207031 42.03125 C 33.207031 40.93083 33.982238 39.333984 36.601562 39.333984 z M 26.966797 41.101562 L 26.966797 44.851562 L 28.701172 44.851562 C 29.708605 44.851562 30.330078 44.279224 30.330078 43.070312 L 30.330078 42.884766 C 30.330078 41.675854 29.708605 41.101562 28.701172 41.101562 L 26.966797 41.101562 z " />
    </g>
</defs>
</svg>


{% if libroEmbed %}
<div class="iconosEnlaces">
    {% if linkPDF %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkPDF }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-pdf"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkTXT %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkTXT }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-txt"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkMPEG %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkMPEG }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-mpeg"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkOGV %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkOGV }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-ogv"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkFLAC %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkFLAC }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-flac"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkMP3 %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkMP3 }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-mp3"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkOGG %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkOGG }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-ogg"></use>
                </svg>
            </a>
        </div>
    {% endif %}
    {% if linkTorrent %}
        <div class="CadaIconoEnlace">
            <a href="{{ linkTorrent }}" target=_blank>
                <svg viewBox="0 0 60 69">
                    <use xlink:href="#icon-descarga-torrent"></use>
                </svg>
            </a>
        </div>
    {% endif %}
</div>
{% endif %}